*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #777777;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: white;
}

.container {
  background-color: #F7F7F7;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 5.6rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #FFFFFF;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
}
.title-first__secondary {
  display: block;
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  margin-bottom: 6.5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  border-radius: 5rem;
  padding: 1.5rem 4rem;
  color: #777777;
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  transition: all 0.3s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(2);
}
.btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn_animated {
  animation: btnToUp 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

/*# sourceMappingURL=main.css.map */
